* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fa-bars{
  float: left;
  margin: 3px 10px;
  color: black;
  opacity: 0.5;
}

ul{
  display:none;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 3% 0;
  margin: 0px;
}
.area1of1{
  background-color: #bbb;
}
.area2of1{
  background-color: #ddd;
}
.area3of1{
  display: none;
  background-color: #bbb;
}
.area3of1-content{
  margin-top: 30px;
}
.roundButton{
  border: 2px solid black;
  border-radius: 50%;
  font-size: 14px;
  width: 50px;
  height:50px;
  display: inline-block;
  padding: 10px;
}
.area1of2{
  background-color: #ddd;
}
.area2of2{
  background-color: #bbb;
}
.area3of2{
  background-color: #ddd;
}
@media only screen and (min-width:800px){
  .layout1{
    width: 100%;
    overflow:hidden;
    display: flex;
  }
  .area1of1{
    background:#bbb;
    width:150%;
    z-index: 2;
    transform: skew(-29deg);
    margin-left:-20%;
  }
  .area1of1-content{
    transform: skew(29deg);
    margin-left:45%;
    margin-right:15%;
  }
  .area2of1{
    background: white;
    width: 50%;
    margin-left: 0%;
    z-index: 0;
  }
  .area2of1-content{
    margin-top: 50%;
  }
  .area3of1{
    display: block;
    background:#ddd;
    width:200%;
    z-index: 1;
    transform: skew(60deg);
    margin-right: -30%;
  }
  .area3of1-content{
    transform:skew(-60deg);
    margin-top: 3%;
  }
}